* {
    position: relative;
}

body {
    background-color: #eee;
}
.content, .top-bar, .bottom-bar {
    width: 50%;
    margin: 0 auto;
}
.top-bar *, .bottom-bar {
    text-align: center;
}

.has-error {
    color: red
}
.input-group {
    margin-bottom: .4em;
}

.action-header {
    margin-top: .4em;
}
.action-header, .file-input, .time-result-box {
    margin-bottom: .4em;
}
.time-result-box .label {
    font-size: 100%;
}
.time-result-box {
    padding: .2em;
}
.execution-item, .execution-details-box .panel-body .primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
}

.execution-details-box .panel-body .primary > * {
    flex: 0 1 50%;
}
.execution-details-box .btn {
    width: 100%;
}
.execution-item > * {
    flex: 0 1 25%;
    align-self: auto;

    text-align: center;
}
.execution-item .label {
    font-size: 100%;
}
.execution-details-box > div > * {
    flex: 0 1 50%;
    text-align: left;
}
code {
    white-space: pre;
    padding: 0;
    color: darkcyan;
    background-color: transparent;
}
.form-group {
    width: 100%;
}
.results-box .well,
.results-box .top-list-box .well:last-child {
    margin-bottom: 0;
}
.results-box .top-list-box .well {
    margin-bottom: .2em;
}

.results-box .well {
    padding: .2em;
}
.results-box .well h5,
.results-box .panel-heading {
    margin-bottom: 0;
    margin-top: 0;
}
.top-list-box .panel-heading {
    margin-bottom: .2em;
}